<button type="text" label="Auto toevoegen" (click)="showDialogAddCar($event)">Add</button>

<table class="table table-striped">
  <tr>
    <th>Itemreference</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Limited Edition</th>
    <th>Color</th>
    <th>Scale</th>
    <th>Coupe</th>
    <th>Boxed</th>
  </tr>
  <tr *ngFor="let car of cars">
    <td>{{car.itemRef}}</td>
    <td>{{car.brand.name}}</td>
    <td>{{car.model.type}}</td>
    <td>{{car.limitedEdition}}</td>
    <td>{{car.color.name}}</td>
    <td>{{car.scale}}</td>
    <td>{{car.coupe}}</td>
    <td>{{car.boxed}}</td>
  </tr>
</table>
<app-cardialog [display]="openDialog"></app-cardialog>
