.ui-button.confirmButton{
  background-color: #88BBD6;
  border-color: #88BBD6;
}

.ui-button.cancelButton{
  background-color: #EEAA7B;
  border-color: #EEAA7B;
}


button.ui-autocomplete-dropdown {
  background-color: #88BBD6 !important;
  border-color: #88BBD6 !important;
}

p-autocomplete> span > input {
  height: 29px;
}
