<p-dialog header="Auto toevoegen" [(visible)]="display" modal="modal" (onHide)="closeDialog($event)" width="400" height="800">
  <form (ngSubmit)="saveCar(carDialogForm.value)" [formGroup]="carDialogForm">
    <p-autoComplete appendTo="body" delay="0" (onSelect)="selectBrand($event)" [(ngModel)]="brand" field="name" formControlName="brand" [suggestions]="filteredBrands" (completeMethod)="filterBrands($event)" [dropdown]="true"></p-autoComplete>
    <p-autoComplete appendTo="body" delay="0" [(ngModel)]="model" field="type" formControlName="model" [suggestions]="filteredModels" (completeMethod)="filterModels($event)" [dropdown]="true"></p-autoComplete>
  </form>
  <p-footer>
    <button type="button" pButton icon="fa-close" (click)="closeDialog($event)" label="Annuleren"></button>
    <button type="button" pButton icon="fa-check" (click)="closeDialog($event)" label="Bewaren"></button>
  </p-footer>
</p-dialog>
